@page "/authorization"
@inject NavigationManager Navigation
@using BlazorControlWork.Data

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Authorization an account</h2>

                        <form>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1cg">Your Login</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind-value=Login />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cg">Password</label>
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" @bind-value=Password />
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" id="btnLog"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" @onclick=AuthorizatioMethod>
                                    Log in
                                </button>
                            </div>

                            @if (CheckError)
                            {
                                <br>

                                <div class="alert alert-danger" role="alert">
                                    @strError
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string Login;
    private string Password;

    private bool CheckError;
    private string strError = "Неизвестная ошибка";

    private void AuthorizatioMethod()
    {
        User user = MongoExamples.Find(Login);
        if (user != null)
        {
            if (Password == user.Password)
            {
                ActiveUser.user = user;
                ActiveUser.IsUserActive = true;
                Navigation.NavigateTo("/profile");
            }
            else
            {
                CheckError = true;
                strError = "Неверный пароль";
            }

        }
        else
        {
            CheckError = true;
            strError = "Пользователя с таким логином не найдено";
        }
    }
}
