@page "/editing"

<PageTitle>Editing</PageTitle>

@namespace BlazorControlWork.Pages

@inject NavigationManager manager
@inject SingletonServise servise

<div class="row">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Login</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"> @user.Login </p>
                    </div>
                </div>
                <hr>
        @if (user.GetType().Name == "Customer")
        {
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Full name</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=FullName/> 
                </div>
            </div>
            <hr>
        }
        @if (user.GetType().Name == "Developer")
        {
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=Name/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">OGRN</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="13" class="text-muted mb-0" @bind-value=OGRNDeveloper onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">TIN</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="10" class="text-muted mb-0" @bind-value=TINDeveloper onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">KPP</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="9" class="text-muted mb-0" @bind-value=KPPDeveloper onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=Address />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">HeadName</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=HeadName />
                </div>
            </div>
            <hr>
        }
        @if (user.GetType().Name == "Planner")
        {
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Name organization</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=NameOrganization />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">OGRN</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="13" class="text-muted mb-0" @bind-value=OGRNPlanner onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">TIN</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="10" class="text-muted mb-0" @bind-value=TINPlanner onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">KPP</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="9" class="text-muted mb-0" @bind-value=KPPPlanner onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Name direcor</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=NameDirecor />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Name chief engineer</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=NameChiefEngineer />
                </div>
            </div>
            <hr>
        }
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" @bind-value=Email />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone number</p>
                </div>
                <div class="col-sm-9">
                    <input type="text" maxlength="11" class="text-muted mb-0" @bind-value=PhoneNumber onkeyup="this.value = this.value.replace(/[^0-9]/ig, '')" />
                </div>
            </div>
            </div>
            </div>
            @if (Error)
                {
                    <br><div class="alert alert-danger" role="alert">
                        @ErrorText
                    </div>
                }
            <button type="button" width="400" id="LogOut"
                    class="btn btn-success" @onclick=SaveEdit>
                Edit
            </button> 
        </div>
    </div>

@code {
    User user;
    string PhoneNumber = string.Empty;
    string Email = string.Empty;
    string FullName = string.Empty;
    string Department = string.Empty;
    string Name = string.Empty;
    string OGRNDeveloper = string.Empty;
    string TINDeveloper = string.Empty;
    string KPPDeveloper = string.Empty;
    string OGRNPlanner = string.Empty;
    string TINPlanner = string.Empty;
    string KPPPlanner = string.Empty;
    string Address = string.Empty;
    string HeadName = string.Empty;
    string NameOrganization = string.Empty;
    string NameDirecor = string.Empty;
    string NameChiefEngineer = string.Empty;
    bool Error = false;
    string ErrorText = string.Empty;

    protected override void OnInitialized()
    {
        user = servise.GetUser();
        Email = user.Email;
        PhoneNumber = user.PhoneNumber;
        switch (user.GetType().Name)
        {
            case "Customer":
                FullName = (user as Customer).FullName;
                Department = (user as Customer).Department;
                break;

            case "Developer":
                Name = (user as Developer).Name;
                OGRNDeveloper = (user as Developer).OGRN;
                TINDeveloper = (user as Developer).TIN;
                KPPDeveloper = (user as Developer).KPP;
                Address = (user as Developer).Address;
                HeadName = (user as Developer).HeadName;
                break;

            case "Planner":
                OGRNPlanner = (user as Planner).OGRN;
                TINPlanner = (user as Planner).TIN;
                KPPPlanner = (user as Planner).KPP;
                NameOrganization = (user as Planner).NameOrganization;
                NameDirecor = (user as Planner).NameDirecor;
                NameChiefEngineer = (user as Planner).NameChiefEngineer;
                break;
        }
    }

    private void SaveEdit()
    {
        User newUser = null;
        Check();
        switch (user.GetType().Name)
        {
            case "Customer":
                if(Error == false)
                {
                    newUser = new Customer(user.Login, PhoneNumber, Email, user.Password)
                    {
                        FullName = this.FullName,
                        Department = this.Department,
                    };
                }
                else
                {
                    return;
                }

                break;
            case "Developer":
                if(Error == false)
                {
                    newUser = new Developer(user.Login, PhoneNumber, Email, user.Password)
                    {
                        Name = this.Name,
                        OGRN = this.OGRNDeveloper,
                        TIN = this.TINDeveloper,
                        KPP = this.KPPDeveloper,
                        Address = this.Address,
                        HeadName = this.HeadName,
                    };
                }
                else
                {
                    return;
                }

                break;

            case "Planner":
                if(Error == false)
                {
                    newUser = new Planner(user.Login, PhoneNumber, Email, user.Password)
                    {
                        NameOrganization = this.NameOrganization,
                        OGRN = OGRNPlanner,
                        TIN = TINPlanner,
                        KPP = KPPPlanner,
                        NameDirecor = this.NameDirecor,
                        NameChiefEngineer = this.NameChiefEngineer,
                    };
                }
                else
                {
                    return;
                }
                break;
        }
        Mongo.Replace(user.Login, newUser);
        servise.SetUser(newUser);
        manager.NavigateTo("profile");
    }

    private void Check()
    {
        if (!Email.Contains('@'))
        {
            Error = true;
            ErrorText = "Неверный формат ввода";
            return;
        }
        else
        {
            Error = false;
        }
        if (PhoneNumber != string.Empty && PhoneNumber.Length != 11)
        {
            Error = true;
            ErrorText = "Неверный формат ввода";
            return;
        }
        else
        {
            Error = false;
        }
        switch (user.GetType().Name)
        {
            case "Developer":
                if ((OGRNDeveloper != null && OGRNDeveloper != string.Empty && OGRNDeveloper.Length != 13) ||
                    (TINDeveloper != null && TINDeveloper != string.Empty && TINDeveloper.Length != 10) || (KPPDeveloper != null && KPPDeveloper != string.Empty && KPPDeveloper.Length != 9))
                {
                    Error = true;
                    ErrorText = "Неверный формат ввода";
                    return;
                }
                break;

            case "Planner":
                if ((OGRNPlanner != null && OGRNPlanner != string.Empty && OGRNPlanner.Length != 13) ||
                    (TINPlanner != null && TINPlanner != string.Empty && TINPlanner.Length != 10) || (KPPPlanner != null && KPPPlanner != string.Empty && KPPPlanner.Length != 9))
                {
                    Error = true;
                    ErrorText = "Неверный формат ввода";
                    return;
                }
                break;
        }
    }



    //private async Task LoadFiles(InputFileChangeEventArgs e)
    //{
    //    var format = "image/*";
    //    IBrowserFile file = e.File;
    //    var path = Path.Combine(Environment.ContentRootPath,
    //                "wwwroot", "unsafe",
    //                file.Name);
    //    var resizedImageFile = await file.RequestImageFileAsync(format, 250, 250);
    //    var buffer = new byte[resizedImageFile.Size];
    //    Stream stream = resizedImageFile.OpenReadStream();
    //    await stream.ReadAsync(buffer);
    //    var imageDataUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
    //    imageUrl = imageDataUrl;
    //    //AddToDB(file);
    //}

    private void AddToDB(IBrowserFile file)
    {
        //FileSystemService fs = new FileSystemService();
        //string path = Path.Combine(Environment.ContentRootPath,
        //                "wwwroot", "unsafe",
        //                file.Name);
        //user.Photo = path;
        //Mongo.UpgradeOne(user.Login, "Photo", path);
        //fs.UploadImageToUserDb(file, path);
    }
}