@page "/"

@inject NavigationManager manager

<PageTitle>Index</PageTitle>
@namespace BlazorControlWork.Data
@inject SingletonServise servise

@if (user != null)
{
        <h1>Hello, @user.Login!</h1>
}
else
{
        <h1>Hello, world!</h1>
}

@code {
    private User user;

    protected override void OnInitialized()
    {
        user = servise.GetUser();
    }
}


