@page "/projectCustomer"

@using Microsoft.Extensions.Logging

@using BlazorControlWork.Data
@inject NavigationManager Navigation

@if (CheckInfo())
{
    <p>
        <label>
            Заказчик @customer.Name
        </label>
    </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Developer</th>
                    <th>Customer</th>
                    <th>Open project</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in GetProjects())
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@project.Developer.Login</td>
                        <td>@project.Designer.Login</td>
                        <td>
                        <button type="button" class="btn btn-info" @onclick="() => CheckProject(project)">Open project</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-success" @onclick=CreateProject>Create project</button>
}
else 
{
    <p>
        <h1>Заполните все данные в Вашем профиле!</h1>
    </p>
}


@code {
    Customer customer;

    protected override void OnInitialized()
    {
        customer = ActiveUser.user as Customer;

    }

    private void CreateProject()
    {
        Navigation.NavigateTo("projectCreate");
    }

    private void CheckProject(Project project)
    {
        ActiveUser.project = MongoExamples.FindProject(project.Name);
        if (customer.Department == "Gasification")
        {
            Navigation.NavigateTo("projectGasification");
        }
        else
        {
            Navigation.NavigateTo("projectWaterSupply");
        }
    }

    private List<Project> GetProjects()
    {
        if (customer.Department == "Gasification")
        {
            return customer.ProjectGasification;
        }
        else
        {
            return customer.ProjectWaterSupply;
        }
    }

    private bool CheckInfo()
    {
        if ((customer.Name == null || customer.Name == string.Empty) || (customer.Telephone == null || customer.Telephone == string.Empty)
        || (customer.Email == null || customer.Email == string.Empty))
        {
            return false;
        }
        return true;
    }
}


