@page "/projectDeveloperDesigner"

@using Microsoft.Extensions.Logging
@using BlazorControlWork.Data

@inject NavigationManager Navigation

@if (user.GetType().Name == "Developer")
{
    @if (CheckInfo())
    {
        <p>
            <label>
                Застройщик @((user as Developer).Head)
            </label>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in (user as Developer).Projects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>
                            <button type="button" class="btn btn-info" @onclick=CheckProject>Open project</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else if (user.GetType().Name == "Designer")
{
    @if (CheckInfo())
    {
        <p>
            <label>
                Планировщик @((user as Designer).Director)
            </label>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in (user as Designer).Projects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>
                            <button type="button" class="btn btn-info" @onclick=CheckProject>Open project</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>
        <h1>Заполните все данные в Вашем профиле!</h1>
    </p>
}


@code {
    User user;

    protected override void OnInitialized()
    {
        switch (ActiveUser.user.GetType().Name)
        {
            case "Developer":
                user = ActiveUser.user as Developer;
                break;
            case "Designer":
                user = ActiveUser.user as Designer;
                break;
        }
    }

    private void CheckProject()
    {
        Navigation.NavigateTo("projectWaterSupply");
    }

    private bool CheckInfo()
    {
        switch (user.GetType().Name)
        {
            case "Developer":
                if (((user as Developer).Head == null || (user as Developer).Head == string.Empty) || (user.Telephone == null || user.Telephone == string.Empty)
                || (user.Email == null || user.Email == string.Empty)/* || ((user as Developer).Name == null || (user as Developer).Name == string.Empty*/
                || ((user as Developer).MSRN == null || (user as Developer).MSRN == string.Empty) || ((user as Developer).TIN == null || (user as Developer).TIN == string.Empty)
                || ((user as Developer).COR == null || (user as Developer).COR == string.Empty) || ((user as Developer).Address == null || (user as Developer).Address == string.Empty))
                {
                    return false;
                }
                break;
            case "Designer":
                if (((user as Designer).Administrant == null || (user as Designer).Administrant == string.Empty) || (user.Telephone == null || user.Telephone == string.Empty)
                    || (user.Email == null || user.Email == string.Empty) || ((user as Designer).Director == null || (user as Designer).Director == string.Empty)
                    || ((user as Designer).MSRN == null || (user as Designer).MSRN == string.Empty) || ((user as Designer).TIN == null || (user as Designer).TIN == string.Empty)
                    || ((user as Designer).COR == null || (user as Designer).COR == string.Empty) || ((user as Designer).MainEngineer == null || (user as Designer).MainEngineer == string.Empty))
                {
                    return false;
                }
                break;
        }
        return true;
    }
}


