@using BlazorControlWork.Data
@inherits LayoutComponentBase
@inject SingletonServise servise

<PageTitle>BlazorControlWork</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (@servise.GetUser() == null)
            {
                <a href="authorization">Authorization</a>
                <a href="registration">Registration</a>
            }
            else
            {
                <a href="profile">@servise.GetUser().Login</a>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}